@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Rubik+Doodle+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Domine&family=Roboto+Slab&family=Space+Grotesk:wght@500&display=swap');
  .virg-karaoke-font{
    font-family: 'Rubik Doodle Shadow', system-ui;
    color: black;
  }

  /* .virg-normal-font{
font-family: 'helvetica neue', sans serif;
  } */

  .virg-normal-font{
    font-family: Arial, Helvetica, sans-serif;
      }

  /* .virg-background-color{
    background-color: rgb(132, 133, 135);
  } */


    .buttonzoom {
      transition: transform .3s;
      /* Animation */
    }
  
    .buttonzoom:hover {
      transform: scale(1.01);
      /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }